h1,
h2,
h3 {
  margin: .25rem;
}

/* animations */
.animation-crop {
  overflow: hidden;
}

.js [data-animation] {
  opacity: 0;
}

.js [data-animate="true"] [data-animation="fade-up"][data-in-view="true"] {
  opacity: 0;
  animation: fadeUp 1s cubic-bezier(.165, .84, .44, 1) forwards;
}

@keyframes fadeUp {
  from {
    transform: translateY(20px) scale(0.9);
    opacity: 0;
  }

  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.js [data-animate="true"] [data-animation="rise-up"][data-in-view="true"] {
  opacity: 0;
  animation: rise-up 1s cubic-bezier(.165, .84, .44, 1) forwards;
}

@keyframes rise-up {
  0% {
    opacity: 0;
    transform: translateY(120%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.js [data-animate="true"] [data-animation="fade-in"][data-in-view="true"] {
  opacity: 0;
  animation: fade-in 1.5s cubic-bezier(.165, .84, .44, 1) forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
